*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.faculty-container {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.header-logo {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: white;
    z-index: 2;
}

.header-logo img {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.navbar-header {
    position: fixed;
    top: 100px;
    padding: 12px 0;
    width: 100%;
    background-color: #a82328;
    z-index: 2;
    transition: background-color 0.3s;
}

.navbar-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 15px;
    margin: 0;
}

.navbar-links li a {
    color: rgb(240, 240, 240);
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s, opacity 0.3s;
}

.navbar-links li a:hover {
    opacity: 0.6;
}

.alumni-cards {
    z-index: 1;
    /* background-color: blue; */
    margin: 240px 150px 100px;
}

.alumni-image {
    height: 200px;
    width: 100%;
    object-fit: cover;
}